<p>App COMPONENT</p>
<div class="app_container">
  <!-- <h1>Hello, {{ title + 2 }}</h1>
  <p>Add {{ sum(4, 1) }}</p>
  <p>For {{ getArray() }}</p>
  <p>Pair {{ onlyPair() }}</p> -->
  <!-- <p>Substract {{Substract(4,8)}}</p> -->

  <!-- <app-user-card
    [name]="'Adrian Thompson'"
    [email]="'thompsonadrian210@gmail.com'"
    (sendData)="receiveData($event)"
  >
    <p>My HTML from father</p>
    <button>My button from father</button>
  </app-user-card>
  <p>RESULT: {{ result }}</p>
  <div class="app_container_calcuAndHistory">
    <calculator
      (sum)="onResult($event, 'Sum')"
      (mul)="onResult($event, 'Multi')"
      (reset)="onResult($event, 'Reset')"
    >
    </calculator>
    <history [operations]="history"></history>
  </div>

  <p *ngIf="1 == 1; else elseOld">variables are equals</p>

  <ng-template #elseOld>
    <p>old, result is false</p>
  </ng-template>

  @if(var1===1){
  <p>newSyntax, variable XD</p>
  } @else {
  <p>newSyntax, result is false</p>
  }

  <p *ngFor="let item of ['a', 'b', 'c', 'd']; let i = index">
    old for, value: {{ item }}, index: {{ i }}
  </p>

  @for (item of ['a', 'b', 'c', 'd']; track item; let i=$index) {
  <p>newSyntax for, value: {{ item }}, index: {{ i }}</p>
  }

  <div [ngSwitch]="var1">
    <p *ngSwitchCase="0">oldSyntax, var is 0</p>
    <p *ngSwitchCase="1">oldSyntax, var is 1</p>
    <p *ngSwitchDefault="0">default value</p>
  </div>

  @switch (var1) { @case (0) {
  <p>NewSyntax,var is 0</p>
  } @case (1) {
  <p>NewSyntact,var is 1</p>
  } @default {
  <p>new syntaxt, default value</p>
  } } -->
  
  <div class="datos_container">
    <p>Total Females: {{ totalFemales }}</p>
    <p>Total Males: {{ totalMales }}</p>
    <p>Persons with discount: {{ totalDiscounts }}</p>
    <button class="button" (click)="deleteDiscountedPersons()">Borrar personas con descuento</button>
  </div>
  <div *ngFor="let person of persons" class="datos_container">
    <app-persona [person]="person"></app-persona>
  </div>
</div>
