<div class="app_container">
  <p>App COMPONENT</p>
  <!-- <h1>Hello, {{ title + 2 }}</h1>
  <p>Add {{ sum(4, 1) }}</p>
  <p>For {{ getArray() }}</p>
  <p>Pair {{ onlyPair() }}</p> -->
  <!-- <p>Substract {{Substract(4,8)}}</p> -->

  <app-user-card
    [name]="'Adrian Thompson'"
    [email]="'thompsonadrian210@gmail.com'"
    (sendData)="receiveData($event)"
  >
    <p>My HTML from father</p>
    <button>My button from father</button>
  </app-user-card>
  <p>RESULT: {{ result }}</p>
  <div class="app_container_calcuAndHistory">
    <calculator
      (sum)="onResult($event, 'Sum')"
      (mul)="onResult($event, 'Multi')"
      (reset)="onResult($event, 'Reset')"
    >
    </calculator>
    <history [operations]="history"></history>
  </div>

  <p *ngIf="1 === 1">variables are equals</p>

  @if(1===1){
  <p>newSyntax, variable XD</p>
  }
</div>
