<div
  [ngClass]="{
  'user-card': password === '123',
  'user-card-black': password === 'hola'
}"
>
  <p [ngStyle]="{
    'background-color': password === 'red' ? 'red' : 'yellow',
  }">USER CARD COMPONENT</p>
  <p [class.user-card]="'password === 123'">INPUT NAME: {{ name }}</p>
  <p [style.background-color]="password === 'red' ? 'red' : 'yellow'">INPUT EMAIL: {{ email }}</p>

  <input type="text" [(ngModel)]="password" />

  <button #buttonShow (click)="showButton = !showButton">show button</button>

  @if (showButton) {
  <button class="button-user-card" #buttonTest (click)="onSendData()">
    send Data
  </button>
  } @else {
  <p>it is false</p>
  > }
  <p>PASSWORD: {{ password }}</p>
  <ng-content></ng-content>

  <!-- <app-counter></app-counter> -->


  <app-navbar></app-navbar>
  <app-card></app-card>
  <app-alert></app-alert>

</div>
